{% extends "base.html" %}

{% block title %}Dashboard | HMS{% endblock %}

{% block content %}
<h2>Dashboard</h2>

<div class="dashboard">
    <div class="card blue">
        <h3>Patients</h3>
        <p>{{ patient_count }}</p>
    </div>

    <div class="card green">
        <h3>Doctors</h3>
        <p>{{ doctor_count }}</p>
    </div>

    <div class="card orange">
        <h3>Today's Appointments</h3>
        <p>{{ appointment_count }}</p>
    </div>

    <div class="card red">
        <h3>Pending Bills</h3>
        <p>{{ pending_bills }}</p>
    </div>

    <div class="card purple">
        <h3>Total Revenue</h3>
        <p>₹ {{ total_revenue }}</p>
    </div>
</div>
{% endblock %}
